#what {
    height: auto;
    padding-bottom: 25%;
    text-align: center;
}
.red-tempeh {
    position: absolute;
    left: 0;
    padding: 0;
    margin-top: 2.7em;
    width: 55%;
    min-width: 600px;
    height: auto;
}

.what-ctn {
    display: flex;
    flex-direction: row;
}

.left-ctn {
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: flex-start;
}

.right-ctn {
    flex: 1; 
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.right-ctn h1 {
    margin-top: 3em;
    margin-bottom: 0;
    padding: 0 1em 0 1em;
}

.right-ctn p {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

@media (max-width: 880px) {
    #what {
        height: auto;
        padding-bottom: 2em;
    }
    .what-ctn {
        flex-direction: column;
    }
    .red-tempeh {
        margin-top: 2vh;
    }
    .right-ctn h1{
        padding-top: 4.5em;
    }
    .right-ctn p {
        padding-bottom:4em;
    }
}