#whyhowwhere {
    display: flex;
    justify-content: center;
    height: auto;
    overflow-x: hidden;
    padding: 2em;
}
.main-ctn {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.why-ctn {
    left: 0;
    text-align: left;
    align-items: flex-start;
    padding: 2.5em;
    padding-left: 2em;
}

.why-ctn p {
    padding: 0 0 0 1em;
    width: 45%;
}

.why-ctn img {
    margin-left: -15px;
}
.how-ctn {
    text-align: center;
    padding: 2.5em;
    align-items: center;
}

.how-ctn p {
    width: 45%;
    margin: 0 auto;
}

.where-ctn {
    right: 0;
    padding: 2.5em;
    padding-right: 2em;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.where-ctn p {
    width: 50%;
    padding-right: 1em;
}

.where-ctn img {
    margin-right: -15px;
}

.sticker {
    width: 250px;
    height: auto;
}

@media (max-width: 780px) {
    #why-how-where {
        width: 100%;
        padding: 0em;
    }
    .sticker {
        width: 200px;
        height: auto;
    }
    .why-ctn p {
        width: 80%
    }
    .why-ctn {
        padding: 1em;
    }
    .how-ctn {
        padding: 1em;
    }
    .where-ctn {
        padding: 1em;
    }
    .how-ctn p {
        width: 80%
    }
    .where-ctn p {
        width: 80%
    }
}