#our-flavors {
    height: 75vh;
    overflow-x: hidden;
}
.flavor-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flavor-ctn h2 {
    z-index: 2;
    padding-top: 0.5em;
}

.flavor-list {
    display: flex;
    z-index: 2;
    flex-direction: row;
    width: 90vw;
    justify-content: center;

}

.item-ctn {
    display: flex;
    z-index: 2;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex: 0 0 calc(20% - 20px);
    padding: 0 1em 0 1em;
    /* max-width: 0 0 calc(20% - 20px); */

}

.item-ctn h3 {
    padding: 0 0.75em 0 0.75em;
}

.item-ctn p {
    padding: 0;
    margin: 0 auto;
    margin-top: -0.9em;
    font-size: 1em;
    max-width: 260px;
}

.item-ctn img {
    width: 190%;
    max-width: 600px;
    object-fit: cover;
    padding: 0;
    margin: -1.5em;
    margin-top: -2em;
    height: auto;
}

.yellow-box {
    width: 100vw;
    height: 400px;
    margin-top: 5em;
    border: 1.5px solid #181818;
    background-color: #F2AA3C;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 0;
    align-items: center;
}
