
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffead2;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
.logo {
    width: 7em;
    height: auto;
}

.social-container {
    right: 3em;
    position: fixed;
}

.socials {
    width: 2.2em;
    padding: 1.25em;
    height: auto;
}

/* react-burger-menu styling */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 5em;
    top: 4em;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #181818;
    height: 1.5px !important;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #34772C;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #ffead2;
    border-right: 1.5px solid #181818;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 2em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    padding-bottom: 5em;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(255, 234, 210, 0) !important;
    left: 0;
    top: 0;
  }
