@font-face {
  font-family: 'WindsorEFBold';
  src: local('WindsorEFBold'), url('./fonts/WindsorEFBold.woff') format('woff'), 
  url('./fonts/WindsorEFBold.woff2') format('woff2');
}
@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/PPNeueMontreal-Book.woff') format('woff'),
  url('./fonts/PPNeueMontreal-Book.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/PPNeueMontreal-Regular.woff') format('woff'),
  url('./fonts/PPNeueMontreal-Regular.woff2') format('woff2');
  font-weight: 450;
}
@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/PPNeueMontreal-Bold.woff') format('woff'), 
  url("./fonts/PPNeueMontreal-Bold.woff2") format('woff2');
  font-weight: 800;
}
:root {
  font-family: 'NeueMontreal';
  line-height: 1.5;
  font-weight: 400;
  color: #181818;
  background-color: #ffead2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-family: 'NeueMontreal';
  font-weight: 400;
  color: #181818;
  text-decoration: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 4em;
  font-family: 'WindsorEFBold';
  line-height: 1;
}

h2 {
  font-size: 2.5em;
  font-family: 'WindsorEFBold';
  line-height: 1;
}
h3 {
  font-size: 1.65em;
  font-family: 'WindsorEFBold';
  line-height: 1;
}

p {
  font-size: 1.15em;
}


@media (max-width: 780px) {
  h1 {
    font-size: 2.75em !important;
  }
  h2 {
    font-size: 2em !important;
  }
  h3 {
    font-size: 1.4em !important;
  }

  p {
    font-size: 1em !important;
  }
}